
.container{
    width: 100%;
    max-width: 100%;
    min-height: 100vh;

  }

  .header{
    width: 1950px;
    max-width: 1950px;
    max-height: 500px;
    background-image: url(/assets/images/bkg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  