
  .header{
    width: 1950px;
    max-width: 1950px;
    min-height: 300px;
    background-image: url(/assets/images/bkg.png);
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .header--top{
    display: flex;
    js
  }
