.products{
    width: 1860px;
    max-width: 100%;
    min-height: 1030px;
}

.product{
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    gap: 30px;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: 400px 230px 400px;
}   