@import "_var";

.recenWrapper{
    width: 100%;
    height: 100%;
    background: #fff;
}

.recent{
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    padding-top: 120px;
    
}
.recent--top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;

    .recent--top_title{
        font-size: 48px;
        color: $primary--color;
        font-weight: 600;
    }

    .recent--top_icon{
        display: flex;
        gap: 20px;
        font-size: 30px;
                *{
            padding: 5px 12px;
            border-radius: 20px;
            border: 1px solid $secondary--color;
            

        }
    }

}

.recent--top_icon *.active{
  
        background-color: #4F77FF;
    
}

.recent--project{
    width: 100%;
    display: grid;
    grid-template-columns: repeat();
}